<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birthdate</th>
      <th>Nickname</th>
      <th>Password</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.surname %></td>
        <td><%= customer.birthdate %></td>
        <td><%= customer.nickname %></td>
        <td><%= customer.password %></td>
        <td>
          <%= customer.address.street %>, 
          <%= customer.address.zipcode %>,
          <%= customer.address.city %>,
          <%= customer.address.state %>,
          <%= customer.address.nation %>
        </td>
        <td><%= link_to 'Show', [:administration, customer] %></td>
        <td><%= link_to 'Edit', edit_administration_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', [:administration, customer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_administration_customer_path %>
