<h1>Customer detail</h1>

<table class="table table-striped">
  <tr>
    <th class="text-right" width="30%">Name:</th>
    <td><%= @customer.name %></td>
  </tr>

  <tr>
    <th class="text-right">Surname:</th>
    <td><%= @customer.surname %></td>
  </tr>

  <tr>
    <th class="text-right">Birthdate:</th>
    <td><%= @customer.birthdate %></td>
  </tr>

  <tr>
    <th class="text-right">Nickname:</th>
    <td><%= @customer.nickname %></td>
  </tr>

  <tr>
    <th class="text-right">Password:</th>
    <td><%= @customer.password %></td>
  </tr>

  <tr>
    <th class="text-right">Address:</th>
    <td><%= @customer.address.street %>, 
    <%= @customer.address.zipcode %>,
    <%= @customer.address.city %>,
    <%= @customer.address.state %>,
    <%= @customer.address.nation %></td>
  </tr>
</table>


<%= link_to administration_customers_path, class: 'btn btn-info' do %>
<span class="glyphicon glyphicon-arrow-left"></span> Back to the list
<% end %>

<%= link_to edit_administration_customer_path(@customer), class: 'btn btn-default' do %>
<span class="glyphicon glyphicon-pencil"></span> Edit
<% end %>