<h1>Cart</h1>



<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cartItems.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, showProduct_path(item.product) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td>
          <div class="btn-group">
          <%= link_to addItemToCart_path(item.product), :class => "btn btn-default" do%>
          <span class="glyphicon glyphicon-plus-sign"></span>  Aggiungi 1
          <% end %>
          <%= link_to subItemToCart_path(item.product), :class => "btn btn-default"  do%>
          <span class="glyphicon glyphicon-minus-sign"></span> Rimuovi 1
          <% end %> 
          <%= link_to emptyCart_path, :class => "btn btn-danger"  do%>          
          <span class="glyphicon glyphicon-remove-circle"></span> Rimuovi tutti
          <% end %>
          <div>
        </td>
      </tr>
    <% end %>
    <% if @cartItems.empty? %>
      <tr>
        <td colspan="4">
          Nessun prodotto nel carrello
        </td>
      </tr>
    <% else %>
      <tr>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@cartItems.map{ |i| i.product.price*i.quantity }.sum) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @cartItems.empty? %>
<%= link_to 'Checkout', checkoutCart_path, :class => "btn btn-info" %>
<% end %>