<h1>Product details</h1>


<table class="table table-striped">
    <tr>
        <th class="text-right" width="30%">Name:</th>
        <td><%= @product.name %></td>
    </tr>
    <tr>
        <th class="text-right">Description:</th>
        <td><%= @product.description %></td>
    </tr>
    <tr>
        <th class="text-right">Price:</th>
        <td><%= @product.price %></td>
    </tr>
    <tr>
        <th class="text-right">Quantity:</th>
        <td><%= @product.quantity %></td>
    </tr>
</table>

<%= link_to administration_products_path, class: 'btn btn-info' do %>
<span class="glyphicon glyphicon-arrow-left"></span> Back to the list
<% end %>

<%= link_to edit_administration_product_path(@product), class: 'btn btn-default' do %>
<span class="glyphicon glyphicon-pencil"></span> Edit
<% end %>
