<div>
<table class="table">
	<thead>
		<tr>
			<th>Customer</th>
			<th>Creation Date</th>
			<th>Evasion Date</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @order.customer.name %> <%= @order.customer.surname %></td>
			<td><%= @order.created_at.to_formatted_s(:short) %></td>
			<td><% if @order.evaded %><%= @order.updated_at.to_formatted_s(:short) %><% else %> Not evaded <% end %></td>
		</tr>
	</tbody>
</table>
</div>

<br /><br />

<div>
<table class="table">
	<thead>
		<tr>
			<th>Product</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
	    <% @order.orderLines.each do |orderLine| %>
    		<tr>
     	 		<td> <%= orderLine.product.name %></td>
     	 		<td> <%= orderLine.quantity %></td>
     	 		<td> <%= number_to_currency(orderLine.unitPrice) %></td>
    		</tr>
   		<% end %>
      <tr>
        <td></td>
        <td></td>
        <td><%= number_to_currency(@order.orderLines.map{ |i| i.product.price*i.quantity }.sum) %></td>
      </tr>
	</tbody>
</table>
</div>


<%= link_to orders_path, class: 'btn btn-default' do%>
<span class="glyphicon glyphicon-arrow-left"></span>Back
<% end %>