<h1>Prodotti</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrizione</th>
      <th>Prezzo</th>
      <th>Quantità</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= product.quantity %></td>
        <td>
          <%= link_to showProduct_path(product), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-search"></span> Show
          <% end %>
          <%if @_current_user %>
            <%= link_to addItemToCart_path(product), class: 'btn btn-success' do%>
            <span class="glyphicon glyphicon-ok-circle"></span> Add to cart
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>