<p id="notice"><%= notice %></p>

<div>
<table>
	<thead>
		<tr>
			<th>Cliente</th>
			<th>Data Creazione</th>
			<th>Data Evasione</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @order.customer.name %> <%= @order.customer.surname %></td>
			<td><%= @order.created_at.to_formatted_s(:short) %></td>
			<td><% if @order.evaded %><%= @order.updated_at.to_formatted_s(:short) %><% else %> Non Evaso <% end %></td>
		</tr>
	</tbody>
</table>
</div>

<div>
<table>
	<thead>
		<tr>
			<th>Prodotto</th>
			<th>Quantità</th>
			<th>Prezzo Unitario</th>
		</tr>
	</thead>
	<tbody>
	    <% @order.orderLines.each do |orderLine| %>
    		<tr>
     	 		<td> <%= orderLine.product.name %></td>
     	 		<td> <%= orderLine.quantity %></td>
     	 		<td> <%= number_to_currency(orderLine.unitPrice) %></td>
    		</tr>
   		<% end %>
	</tbody>
</table>
</div>

<% unless @order.evaded %>
<%= link_to 'Evade', administration_evade_order_path(@order) %>
<% end %>
<%= link_to 'Back', administration_orders_path %>
