<!DOCTYPE html>
<html>
<head>
  <title>CartOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @_current_user %>
    Ciao <%= @_current_user.nickname %>. Cosa vuoi fare?

    <ul>
        <li><%= link_to 'Mostra carrello', cart_path %></li>
        <li><%= link_to 'Guarda i prodotti', catalog_path %></li>
        <li><%= link_to 'Guarda i tuoi ordini', orders_path %></li>
    </ul>

<% else %>
    Ciao Anonimo. <%= link_to 'Effettua il login!', login_path %>

<% end %>

<%= yield %>

</body>
</html>
