<%= form_for([:administration, @provider]) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :vat %><br>
    <%= f.text_field :vat, class: 'form-control' %>
    
  </div>
      <%= f.fields_for :address do |a| %>
        <div class="form-group">
            <%= a.label :street %><br>
            <%= a.text_field :street, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= a.label :city %><br>
            <%= a.text_field :city, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= a.label :state %><br>
            <%= a.text_field :state, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= a.label :nation %><br>
            <%= a.text_field :nation, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= a.label :zipcode %><br>
            <%= a.text_field :zipcode, class: 'form-control' %>
        </div>
    <% end %>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>
