<h1>Listing providers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>VAT</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.vat %></td>
        <td>
          <%= provider.address.street %>, 
          <%= provider.address.zipcode %>,
          <%= provider.address.city %>,
          <%= provider.address.state %>,
          <%= provider.address.nation %>
        </td>
        <td>
          <%= link_to [:administration, provider], class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-search"></span> Show
          <% end %>

          <%= link_to edit_administration_provider_path(provider), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>

          <%= link_to [:administration, provider], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
          <span class="glyphicon glyphicon-remove"></span> Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Provider', new_administration_provider_path, class: 'btn btn-info' %>