<h1>Provider details</h1>
<table class="table table-striped">
  <tr>
    <th class="text-right" width="30%">Name:</th>
    <td><%= @provider.name %></td>
  </tr>

  <tr>
    <th class="text-right">Vat:</th>
    <td><%= @provider.vat %></td>
  </tr>

  <tr>
    <th class="text-right">Address:</th>
    <td>
      <%= @provider.address.street %>,
      <%= @provider.address.zipcode %>,
      <%= @provider.address.city %>,
      <%= @provider.address.state %>,
      <%= @provider.address.nation %>
    </td>
  </tr>
  
  <tr>
    <th class="text-right">Products:</th>
    <td><%= @provider.products.map{|p| p.name}.join(', ') %></td>
  </tr>
</table>


<%= link_to administration_providers_path, class: 'btn btn-info' do %>
<span class="glyphicon glyphicon-arrow-left"></span> Back to the list
<% end %>

<%= link_to edit_administration_provider_path(@provider), class: 'btn btn-default' do %>
<span class="glyphicon glyphicon-pencil"></span> Edit
<% end %>